@import "~bootstrap/scss/bootstrap";
// @import '~@fortawesome/fontawesome-free/scss/solid';
// @import "~@fortawesome/fontawesome-free/css/fontawesome.min.css";
body {
    font-family: Arial, Helvetica, sans-serif;
}

div.logo {
    width: 128px;
    height: 128px;
    margin: auto;
    background-image: url("../assets/images/logo.png");
    background-repeat: no-repeat;
}

body {
    font-family: "Lato", sans-serif;
}

.main-head {
    height: 150px;
    background: #FFF;
}

.sidenav {
    height: 100%;
    background-color: #000;
    overflow-x: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
}

.main {
    padding: 0px 10px;
}

.login-main-text {
    margin-top: 40%;
    margin-left: auto;
    margin-right: auto;
    padding: 60px;
    color: #fff;
}

.login-main-text p {
    text-align: center;
    font-weight: 300;
}

.btn-black {
    background-color: #000 !important;
    color: #fff;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .login-main-text {
        margin-top: 10%;
    }
}

@media screen and (max-width: 450px) {
    .login-form {
        margin-top: 10%;
    }
    .register-form {
        margin-top: 10%;
    }
    .login-main-text {
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px) {
    .main {
        margin-left: 40%;
    }
    .sidenav {
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }
    .login-form {
        margin-top: 80%;
    }
    .register-form {
        margin-top: 20%;
    }
}

.table-sortable tbody tr {
    cursor: move;
}